<!-- Validation failure messages -->
<% if @rank.errors.any? %>
  <% @rank.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Rank</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_rank" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for user_id -->
      <div class="form-group">
        <label for="user_id" class="control-label">
          User
        </label>

        <%= select_tag(:user_id, options_from_collection_for_select(User.all, :id, :email, @rank.user_id), :class => "form-control") %>
      </div>

      <!-- Label and input for player_id -->
      <div class="form-group">
        <label for="player_id" class="control-label">
          Player
        </label>

        <%= select_tag(:player_id, options_from_collection_for_select(Player.all, :id, :name, @rank.player_id), :class => "form-control") %>
      </div>

      <button class="btn btn-success">
        Create Rank
      </button>
      or
      <a href="/ranks">Cancel</a>
    </form>
  </div>
</div>
